#topo-header{
  justify-content: space-between;
  color: $blue;
  font-size: 25px;
}

#favorite-icon {
  color: $blue;

  &.fav-active{
    fill: $blue;
  }
}

.alert-banner {
  position: absolute;
  top: 70px;
  left: 30px;
  right: 30px;
  z-index: 1000;
  background-color: white;
  height: 50px;
  transition-property: height;
  transition-duration: 200ms;
  border: 1.5px solid $orange;
  border-radius: 8px;
  padding: 0px 25px;
  box-sizing: border-box;

  #alert-title {
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.alert-content {
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity 0ms linear;
  transition-delay: 0ms;
  height: 445px;
  overflow-y: scroll;
  margin-top: 20px;
  .alert-type {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  h4 {
    font-size: 18px;
    color: $blue;
    margin: 0px;
    margin-right: 10px;
  }
  h5 {
    font-size: 14px;
    margin: 0px;
  }
  span {
    font-size: 18px;
  }
  p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 5px;
  }
  .alert-message {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
}

.btn-alert {
  background-color: $orange;
  padding: 5px 8px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  &:hover {
    text-decoration: none;
  }
  // margin-left: 194px;
}

.alert-display {
  height: calc(100% - 140px);
  .fa-chevron-down {
    transform: rotate(180deg);
    transition: transform 100ms;
  }
  .alert-content {
    visibility: visible;
    opacity: 1;
    transition: visibility, opacity 100ms linear;
    transition-delay: 200ms;
  }
}

.alert-status {
  margin-top: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  div a {
    padding: 4px 6px;
    color: black;
    font-size: 14px;
  }
}

.btn-red {
  border-radius: 13.5px;
  border: 1px solid $red;
}

.btn-yellow {
  border-radius: 13.5px;
  border: 1px solid $yellow;
}

#water-info{
  height: 460px;

  // border-style: solid;
  // border-color: $black;
  border-radius: 10px;
  border-width: 1px;
  background-color: white;
  margin: 0 auto;
  place-items: center;

  position: relative;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
#water-graph{
  font-size: 24px;
  text-align: left;
}
// #water-temp{
//   position: absolute;
//   top: 0px;
//   right: 0px;
//   background-color: $white;

//   height: 50px;
//   width: 50px;

//   border-style: solid;
//   border-radius: 50%;
//   border-color: black;
//   border-width: 1px;

//   display: flex;
//   align-items: center;
//   justify-content: center;

//   h3{
//     font-size: 18px;
//     margin: 0px;
//   }
// }

#key-info{
  background-color: white;
  // border: 1px solid $blue;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
  h4 {
    font-size: 18px;
    color: $blue;
    margin: 0px;
  }
  span {
    font-size: 18px;
  }
}

.key-text {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;
  row-gap: 3px;
  h4 {
    justify-self: end;
  }
}

#content-row{
  margin-right: 15px;
}
