#topo-header{
  justify-content: space-between;
  color: $white;
  font-size: 36px;
}

.topo{
  margin-top: 130px;
}

.alert-banner {
  position: absolute;
  top: 70px;
  left: 15px;
  right: 15px;
  z-index: 1000;
  background-color: white;
  height: 50px;
  transition-property: height;
  transition-duration: 200ms;
  border: 1px solid $red;
  border-radius: 25px;
  padding: 0px 25px;
  #alert-title {
    margin-top: 7px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.alert-display {
  height: calc(100% - 140px);
  .fa-chevron-down {
    transform: rotate(180deg);
  }
}

#water-info{
  height: 230px;

  border-style: solid;
  border-color: $black;
  border-top-left-radius: 10px;
  border-top-right-radius: 30px;
  border-width: 1px;

  margin: 10px auto;
  display: flex;
  place-items: center;

  position: relative;
}

#water-temp{
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: $white;

  height: 50px;
  width: 50px;

  border-style: solid;
  border-radius: 50%;
  border-color: black;
  border-width: 1px;

  display: flex;
  align-items: center;
  justify-content: center;

  h3{
    font-size: 18px;
    margin: 0px;
  }
}

#key-info{
  background-color: white;
  border: 1px solid $blue;
  border-radius: 8px;
  padding: 10px;
  h4 {
    font-size: 18px;
    color: $blue;
    margin: 0px;
  }
  span {
    font-size: 18px;
  }
}

.key-text {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;
  row-gap: 3px;
  h4 {
    justify-self: end;
  }
}

#content-row{
  margin-right: 15px;
}

#favorite-icon {
  color: white;

  &.fav-active{
    fill: white;
  }
}
