// Define variables for your color scheme

// Color Scheme (Le Wagon @ perso ) :
$red: #F23535;
$blue: #264f9c;
$yellow: #F5D547;
$orange: #f39645;
$green: #0D9E1B;
$gray: #024959;
$light-gray: #f4f4f4af;
$info: hsl(60, 87%, 38%);
