// Define variables for your color scheme

// Color Scheme (Le Wagon @ perso ) :
$red: #FF0000; // --> Source : Figma (acm, August 24th)
$blue: #00509d; // --> Source : Figma (acm, August 24th)
$yellow: #fdc500; // --> Source : Figma (acm, August 24th)
$orange: #E67E22;
$green: #0D9E1B; // --> Source : Figma (acm, August 24th)
$gray: #221e1e;
$light-gray: #f4f4f4af;
