.card-product {
  overflow: hidden;
  height: 110px;
  background: white;
  display: flex;
  border-radius: 8px;
  border-color: $blue;
  border: solid;
  border-width: 1px;
  text-decoration: none;
  &:active {
    text-decoration: none;
  }
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}


.card-infos {
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}

.infos-name {
    display: flex;
    flex-direction: column;
}

.naming-div {
  display: flex;
  justify-content: space-between;
  color: black;
  margin-bottom: 5px;
  h4 {
    margin-bottom: 0px;
  }
}

.country-div {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgba(0,0,0,0.4);
  p {
    font-size: 14px;
    margin: 0;
  }
}

.alert-div {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.alert-icons {
  display: flex;
}


.alert-level {
  font-size: 16px;
  color: $yellow;
  margin-right: 10px;
}

.severity2 {
  color: $red;
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.unsafe {
  font-size: 20px;
  color: $red;
}

.safe {
  font-size: 20px;
  color: $green;
}

.topo-level {
  color: black;
  font-size: 18px;
}
