.navbar-lewagon {
  background: $blue;
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-collapse {
  flex-grow: 0;
}
.navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white;
  padding: 0px;
}

.disable {
  display: none;
}
